<article class="post">
    <f:if condition="{data.header}">
        <header>
            <div class="title">
                <h2>{data.header}</h2>
            </div>
        </header>
    </f:if>
    <div class="row">
        <div class="col-9">
            <p>This is what {data.header} said about our book:</p>
            <blockquote>{data.bodytext}</blockquote>
        </div>
        <div class="col-3">
            <div class="image">
                <f:image image="{assets.0}" maxHeight="200" />
            </div>
        </div>
    </div>
</article>
