<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<article class="post">
    <f:if condition="{data.header}">
        <header>
            <div class="title">
                <h2>{data.header}</h2>
            </div>
        </header>
    </f:if>
    <f:render section="Main" optional="true" />
    <footer>
        <f:render section="Footer" optional="true">
            <f:render partial="Footer/All" arguments="{_all}" />
        </f:render>
    </footer>
</article>
</html>
